div{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all 25s ease-in 1s;
    position: relative;
    top: 100px;
    left: 100px;
    border-radius: 100%;
}
div:hover{
    background-color: green;
    color: white;
   font-family: fantasy;
   transform: rotate(40000000000deg);
    
}