div{
    width: 100px;
    height: 100px;
    background-color: red;
   
    transition-duration: 1s;
    position: relative;
    
    transition-delay: 0s;
    
}
div:hover{
    background-color: green;
    color: white;
    width: 250px;
    height: 250px;
    
}